typeattribute qti_init_shell data_between_core_and_vendor_violators;

allow qti_init_shell proc_touchpanel:dir { r_dir_perms setattr };
allow qti_init_shell proc_touchpanel:file { getattr setattr };
allow qti_init_shell bluetooth_data_file:file r_file_perms;
allow qti_init_shell vendor_radio_data_file:dir create_dir_perms;
allow qti_init_shell vendor_radio_data_file:file create_file_perms;
allow qti_init_shell fm_prop:property_service set;
