allow wcnss_service serialno_prop:file { open read getattr };
allow wcnss_service wifi_data_file:dir search;
allow wcnss_service property_socket:sock_file write;

